<form class="flex flex-row justify-center my-3" (ngSubmit)="submit()" [formGroup]="form">
    <input
      class="form-control form-input rounded-full"
      type="text"
      placeholder="Todo description"
      name="description"
      id="description"
      formControlName="description" required />

    <button
      class="ml-3 px-4 py-1 text-sm text-blue-800 font-semibold rounded-full border border-blue-800 hover:text-white 
      hover:bg-blue-600 hover:border-transparent focus:outline-none"
      type="submit"
      [disabled]="!form.valid"
    >Create</button>

  
</form>
<p *ngIf="description.errors?.['minlength'] && description.touched">
  Please fill description field with min length
</p>